$white: hsl(0, 0%, 100%);

$stone100: hsl(30, 54%, 90%);
$stone150: hsl(30, 18%, 87%);
$stone600: hsl(30, 10%, 34%);
$stone900: hsl(24, 5%, 18%);

$brown800: hsl(14, 45%, 36%);

$rose800: hsl(332, 51%, 32%);
$rose50: hsl(330, 100%, 98%);

$youngSerif: "Young Serif", serif;
$outfit: "Outfit", serif;
$inter: "Inter", serif;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $stone100;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 5rem;
}

.card {
  background-color: $white;
  width: 100%;
  height: auto;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 2rem;
  gap: 1.5rem;
  img {
    border-radius: 1rem;
    width: 100%;
    align-self: center;
    height: auto;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    h1 {
      font-family: $youngSerif;
      color: $stone900;
      letter-spacing: 0px;
    }
    p {
      font-family: $outfit;
      color: $stone600;
      font-size: 1rem;
      letter-spacing: 0;
      font-weight: 400;
      line-height: 1.5;
    }
    .list-item-head {
      font-weight: 600;
    }
    .prep-time {
      font-family: $outfit;
      background-color: $rose50;
      padding: 0.5rem;
      border-radius: 1rem;
      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 1rem;
        padding-bottom: 0.2rem;
        color: $rose800;
      }
      .prep-time-list-items {
        padding: 0.4rem 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 1.2rem;
        color: $stone600;
      }
      .prep-time-list-item {
        padding: 0.5rem;
      }
      ul li::marker {
        color: $rose800;
      }
    }
    .sub-heading {
      font-family: $youngSerif;
      font-size: 1.5rem;
      color: $brown800;
      padding: 0.5rem 0rem;
    }
    .ingredients {
      ul {
        margin-left: 1.2rem;
      }
      ul li::marker {
        color: $brown800;
      }
      .ingredient-list-item {
        font-family: $outfit;
        color: $stone600;
        padding-left: 0.938rem;
        margin: 0.4rem;
      }
    }
    .instructions {
      font-family: $outfit;
      ol {
        margin-left: 1.2rem;
      }
      ol li::marker {
        color: $brown800;
      }
      .instructions-list-item {
        color: $stone600;
        padding-left: 0.938rem;
        margin: 0.4rem;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    .nutrition {
      font-family: $outfit;
      color: $stone600;
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1.5rem;
        td {
          padding: 0.5rem 2rem;
        }
        tr:not(:first-child) {
          border-top: 1px solid $stone150;
        }
        .measurement {
          color: $brown800;
          font-weight: 700;
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500px) {
  .container {
    padding: 0;
    .card {
      padding: 0;
      border-radius: 0;
      img {
        padding: 0;
        border-radius: 0px;
      }
      .text-content {
        padding: 0rem 2rem;
      }
    }
  }
}
