*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(30, 54%, 90%);
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 5rem;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: auto;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 2rem;
  gap: 1.5rem;
}
.card img {
  border-radius: 1rem;
  width: 100%;
  align-self: center;
  height: auto;
}
.card .text-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card .text-content h1 {
  font-family: "Young Serif", serif;
  color: hsl(24, 5%, 18%);
  letter-spacing: 0px;
}
.card .text-content p {
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1.5;
}
.card .text-content .list-item-head {
  font-weight: 600;
}
.card .text-content .prep-time {
  font-family: "Outfit", serif;
  background-color: hsl(330, 100%, 98%);
  padding: 0.5rem;
  border-radius: 1rem;
}
.card .text-content .prep-time h3 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  padding-bottom: 0.2rem;
  color: hsl(332, 51%, 32%);
}
.card .text-content .prep-time .prep-time-list-items {
  padding: 0.4rem 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;
  color: hsl(30, 10%, 34%);
}
.card .text-content .prep-time .prep-time-list-item {
  padding: 0.5rem;
}
.card .text-content .prep-time ul li::marker {
  color: hsl(332, 51%, 32%);
}
.card .text-content .sub-heading {
  font-family: "Young Serif", serif;
  font-size: 1.5rem;
  color: hsl(14, 45%, 36%);
  padding: 0.5rem 0rem;
}
.card .text-content .ingredients ul {
  margin-left: 1.2rem;
}
.card .text-content .ingredients ul li::marker {
  color: hsl(14, 45%, 36%);
}
.card .text-content .ingredients .ingredient-list-item {
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
  padding-left: 0.938rem;
  margin: 0.4rem;
}
.card .text-content .instructions {
  font-family: "Outfit", serif;
}
.card .text-content .instructions ol {
  margin-left: 1.2rem;
}
.card .text-content .instructions ol li::marker {
  color: hsl(14, 45%, 36%);
}
.card .text-content .instructions .instructions-list-item {
  color: hsl(30, 10%, 34%);
  padding-left: 0.938rem;
  margin: 0.4rem;
  font-size: 1rem;
  line-height: 1.5;
}
.card .text-content .nutrition {
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
}
.card .text-content .nutrition table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}
.card .text-content .nutrition table td {
  padding: 0.5rem 2rem;
}
.card .text-content .nutrition table tr:not(:first-child) {
  border-top: 1px solid hsl(30, 18%, 87%);
}
.card .text-content .nutrition table .measurement {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500px) {
  .container {
    padding: 0;
  }
  .container .card {
    padding: 0;
    border-radius: 0;
  }
  .container .card img {
    padding: 0;
    border-radius: 0px;
  }
  .container .card .text-content {
    padding: 0rem 2rem;
  }
}/*# sourceMappingURL=style.css.map */